<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/css/drawer.min.css">
        <title>ホーム</title>

        <style>
            .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20%;
            background-color: #0099ff;
            position: fixed;
            }

            input[type="range"] {
              -webkit-appearance: none; /*これ無しだとスタイルがほぼ全く反映されないので注意 */
              appearance: none;
              cursor: pointer; /* カーソルを分かりやすく */
              outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
              height: 14px; /* バーの高さ */
              width: 100%; /* バーの幅 */
              background: #8acdff; /* バーの背景色 */
              border-radius: 10px; /* バーの両端の丸み */
              border: solid 3px #dff1ff; /* バー周囲の線 */
            }
            /* WebKit向けのつまみ */
            input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none; /*  デフォルトのつまみのスタイルを解除 */
              background: #0088ff; /* 背景色 */
              width: 24px; /* 幅 */
              height: 24px; /* 高さ */
              border-radius: 50%; /* 円形に */
              box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
            }
            /* Moz向けのつまみ */
            input[type="range"]::-moz-range-thumb {
              background: #0088ff; /* 背景色 */
              width: 24px; /* 幅 */
              height: 24px; /* 高さ */
              border-radius: 50%; /* 円形に */
              box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
              border: none; /* デフォルトの線を消す */
            }
            /* Firefoxで点線が周りに表示されてしまう問題の解消 */
            input[type="range"]::-moz-focus-outer {
              border: 0;
            }
            /* つまみをドラッグしているときのスタイル */
            input[type="range"]:active::-webkit-slider-thumb {
              box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
            }

            h2 {
                position:absolute;
                padding: 0.5rem 0.5rem;
                border-left: 6px double rgb(0, 0, 0);
                font-size: 2vw;
            }
            
            .music_button{
                border: none;
                outline: none;
                background: transparent;
            }

            .under_button{
                width: 60px;
            }

            @media screen and (max-width:950px) {
                .under_button{
                    width: 10vw;
                }

                h2{
                    font-size: 2.5vw;
                }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="mx-2 hed" type="button" onclick="Open();" id="drawer" style="font-size:min(2vmax,20px);">☰</button>
              <a class="navbar-brand mr-auto hed" href="/" style="font-size:min(3vmax,35px);">Idrive</a>
              <input type="range" max="100" step="1" value="50" min="0" id="volume_range" style="width: 15%;" class="mx-4 hed">
              <ul class="dropdown">
                <button class="dropdown-toggle btn btn-info float-right hed" data-toggle="dropdown">{{ request.user }}</button>
                    <ul class="dropdown-menu dropdown-menu-right hed">
                      <a href="{% url 'app_first:logout' %}" class="btn btn-light btn-block" style="white-space: nowrap;">ログアウト</a>
                      <br>
                      <button type="button" class="btn btn-light btn-block" id="sf">ファイルを選択</button>
                      <br>
                      <a href='/download/' class="btn btn-light btn-block">Youtube</a>
                    </ul>
              </ul>
            </div>
        </nav>
        <div class="container">
            <form action="/home/" method="POST" id="accept" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" accept=".mp3" id="mf" style="display: none;" multiple>
            </form>

            <form action = "/home/" method = "POST">
                {% csrf_token %}
                <button type="button" id="delete_pl" style="display: none;font-size:min(1.9vmax, 20px);" data-toggle="modal" data-target="#DeleteModal2"  class="btn btn-danger my-1">プレイリストを削除</button>
            </form>
            {% load static%}

            <div class="row">
            {% for ti in title %}
            <audio controls id="audio_{{ forloop.counter }}" style="display:none;" src="{{ STATIC_URL }}{{request.user}}/{{ti}}.mp3"></audio>
            <div class="card my-2 mx-1" id="card_{{forloop.counter}}" name = "card_main">
                <div class="card-header">
                    <p class="text-secondary" style="font-size:min(2vmax, 22px);" id="tt_{{forloop.counter}}">{{ti}}</p>
                </div>
                <div class="card-body">
                    <button style="font-size:1vw;" class="btn btn-danger" onclick="PLay_Pose(this);" type="button" id="title_{{forloop.counter}}"><img style="max-width:40px; width: 5vw;" id="play" src="{{STATIC_URL}}icon/play_button.png"></button>
                    <div style="display:flex;" class="my-1">
                        <button class="btn btn-danger" style="font-size:min(1.2vw, 25px);height: 20%;"  onclick="Set_delete(this);" data-toggle="modal" data-target="#DeleteModal" id="delete_{{forloop.counter}}">削除</button>
                        <ul class="dropdown">
                            <button style="font-size:1.2vw;" class="dropdown-toggle btn btn-info" data-toggle="dropdown">＋</button>
                                <ul class="dropdown-menu">
                                    {% for name in list_names %}
                                    <button type="button" class="btn btn-secondary btn-light btn-block" onclick="Append_List(this);" name="{{name}}$${{ti}}" id="append_list_{{forloop.counter}}">{{name}}</button>
                                    {% endfor %}
                                    <button type="button" onclick="Left_List(this);" id="dpl_{{forloop.counter}}" class="btn btn-secondary btn-black btn-block" style="display: none;" name="delete_pl">リストから削除</button>
                                </ul>
                        </ul>
                    </div>
                </div>
            </div> 
            {% if forloop.last %}
            <h1 id="data_num" style="display:none;">{{forloop.counter}}</h1>
            {% endif %}
            {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    
            <!--
            {% for name in list_dir %}
            <h1>{{name}}</h1>
            {% endfor %}
            -->

        </div>
        <footer class="footer">
            <div style="text-align: center;position: relative;">
                <h2 class="mx-1" style="visibility: hidden;text-align: left;" id="title_text"></h2>

                <button type="button" class="my-2 music_button" style="opacity: 0.5;"onclick="Shuffle_Change(this);"><img class="under_button" src="{{STATIC_URL}}icon/shuffle.png"></button>
                <button id="play_button" class="my-2 music_button" type="button"onclick="PLay_Pose(this);" disabled><img class="under_button" src="{{STATIC_URL}}icon/play_button.png" id="play"></button>
                <button id="pw_button" type="button" class="my-2 music_button" style="opacity: 0.5;"onclick="Play_Way();"><img class="under_button" src="{{STATIC_URL}}icon/repeat_all.png"></button>
            </div>
            <div class="container" style="display: flex;text-align: center;justify-content: center;align-items: center;">
                <input type="range" id="range" style="width: 50%;height:50%;" max="-5" value="0" step="1" oninput="Change(this);">
            </div>
        </footer>
    </body>

    

<body class="drawer drawer--left">
	<header role="banner">
		<nav class="drawer-nav bg-secondary" role="navigation">
			<ul class="drawer-menu">
				<li><button type="button" class="btn btn-light btn-block my-2" onclick="Music_List(this);">マイミュージック</button></li>
                <li><button type="button" class="btn btn-light btn-block my-2" onclick="Music_List(this);">不明なジャンル</button></li>
                {% for name in list_names %}
                <li><button type="button" class="btn btn-info btn-block my-1" onclick="Open_List(this);" id="{{forloop.counter}}">{{name}}</button></li>
                {% endfor %}
                <li><button type="button" class="btn btn-light btn-block my-2" data-toggle="modal" data-target="#Create_List">プレイリスト作成</button></li>
			</ul>
		</nav>
	</header>
</body>

    <!--　削除ダイアログ　-->
<form action="/home/" method="POST">
{% csrf_token %}
<input type="text" style="display:none;" id="send_title" name="st">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="text">本当に削除しますか？</h4>
                </div>
                <div class="modal-body">
                    <button type="submit" class="btn btn-danger" name="delete_post">削除</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">戻る</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--　プレイリスト削除ダイアログ　-->
<form action="/home/" method="POST">
    {% csrf_token %}
        <div class="modal fade" id="DeleteModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="text">本当に削除しますか？</h4>
                    </div>
                    <div class="modal-body">
                        <button name="delete_playlist" type="submit" style="font-size:min(1.9vmax, 20px);"id="delete_playlist" class="btn btn-danger">プレイリストを削除</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

<form action="/home/" method="POST">
{% csrf_token %}
    <div class="modal fade" id="Create_List" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="text">プレイリスト名</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control my-2" name="list_name">
                    <button type="submit" class="btn btn-danger" name="createlist">作成</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">戻る</button>
                </div>
            </div>
        </div>
    </div>
</form>

<h1 style="display: none;" id="plt">{{play_list}}</h1>

<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/play_button.png">
<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/stop_button.png">
<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/repeat_all.png">
<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/repeat_only.png">
<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/shuffle.png">
<img style="display: none;" name="icon" src = "{{STATIC_URL}}icon/ctl_left.png">

<p id="volume_value" style="display: none;">{{volume}}</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    let audio_list = [];
    let play_list = [];
    let playlist_names = [];
    let data_num = 0;
    let play_lt = "";
    let input_range = document.getElementById("range");

    let ae;
    let inta;
    let rtt = 0;
    let volume = 50;

    let play_num = "0";
    let be;
    let stat = false;
    let pb = document.getElementById("play_button");

    let st = "";
    let vale = "";

    let pw = 1;
    let pwb = document.getElementById("pw_button");

    let icon_url = [];

    let shuffle_flag = false;

    function Find_true_card(start_num){
        let num = start_num;
        for(let i = start_num; i <= data_num; i++){
            let element = document.getElementById("card_" + i);
            if(element.style.display == "block" || element.style.display == ""){
                num = i;
                break;
            }

            if(i == data_num)i = 0;
        }
        return num;
    }

    window.addEventListener('DOMContentLoaded', function(){
        document.getElementById("volume_range").value = parseInt(document.getElementById("volume_value").textContent);
        $('.drawer').drawer();

        try{
        data_num = parseInt(document.getElementById("data_num").textContent);
        play_lt = document.getElementById("plt").textContent;
        }catch(error){
            let data_num = 0
        }

        for(let i = 1; i<= data_num; i++){
            audio_list.push(document.getElementById("tt_"+i).textContent);
            play_list.push([document.getElementById("tt_"+i).textContent])
        }

        if(play_lt != ""){
            let text = play_lt.split("###");
            for(let i = 0; i < text.length; i++){
                if(text[i] != "null"){
                    let text2 = text[i].split("$$");
                    for(let i2 = 0; i2 < text2.length; i2++){
                        let basyo = audio_list.indexOf(text2[i2]);
                        play_list[basyo].push(i);
                    }
                }
            }
        }

        for(let element of document.getElementsByName("icon")){
            icon_url.push(element.src);
        }
    });

    function Open(){
        $('.drawer').drawer('open');
    }

    const getMobileOS = () => {
      const ua = navigator.userAgent
      if (/android/i.test(ua)) {
        return "Android"
      }
      else if (/iPad|iPhone|iPod/.test(ua) || navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1){
        return "iOS"
      }
    
      return "Other"
    }
    let os = getMobileOS();
    if(os == "iOS")document.getElementById("volume_range").style.display = "none";
    let mf = document.getElementById("mf");
    document.getElementById("sf").addEventListener("click", function(e){
        mf.click();
    });
    mf.addEventListener("change", function(e){
        document.getElementById("accept").submit();
    });
    
    
    document.getElementById("volume_range").addEventListener("input", function(e){
        volume = e.target.value;
        ae.volume = parseInt(volume) / 100;
    });

    function Sent_Play(num, now_num){
        now_num = parseInt(now_num);
        if(shuffle_flag){
            let true_num = [];
            let i = 0;
            for(let element of document.getElementsByName("card_main")){
                i += 1;
                if(element.style.display != "none"){
                    true_num.push(i);
                }
            }
            let random_num = true_num.indexOf(now_num);
            if(now_num != -1){
                while(true_num[random_num] == now_num){
                    random_num = Math.round(Math.random() * true_num.length);
                }
            }
            else{
                random_num = Math.round(Math.random() * true_num.length);
            }
            console.log(true_num, random_num);
            document.getElementById("title_"+true_num[random_num]).click();
        }
        else document.getElementById("title_"+num).click();
    }

    function Next(e){
        let this_card = document.getElementById("card_"+st);
        if(e == "finish"){
            ae.currentTime = 0;
            rtt = 0;
            input_range.value = 0;
            PLay_Pose(document.getElementById("title_"+st));
        }
        else if(e == "next"){
            if(this_card.style.display == "block" || this_card.style.display == ""){
                let num = parseInt(st) + 1;
                if(num > data_num)num = 1;
                if(document.getElementById("card_" + num).style.display == "none"){
                    num = Find_true_card(num);
                }
                if(num == st){
                    ae.currentTime = 0;
                    rtt = 0;
                    input_range.value = 0;
                }
                else Sent_Play(num, st);
            }
            else{
                let i2 = 1;
                for(let i = 1; i <= data_num; i++){
                    let element = document.getElementById("card_" + i);
                    if(element.style.display == "block"){
                        i2 = i;
                        break;
                    }
                    else i += 1;
                }
                Sent_Play(i2, -1);
            }
        }
        else{
            ae.currentTime = 0;
            rtt = 0;
            input_range.value = 0;
        }
    }

    function change_value(){
        rtt += 1;
        input_range.value = rtt;
        if(input_range.value == input_range.max){
            if(pw == 1)Next("finish");
            else if(pw == 2)Next("next");
            else if(pw == 3)Next("only");
        }
    }

    function Change(e){
        ae.currentTime = parseInt(e.value);
        rtt = parseInt(e.value);
    }
    
    function PLay_Pose(e){
        let ni = String(e.id);
        if(!stat){
            document.getElementById("play_button").disabled = false;
            document.getElementById("title_text").style.visibility = "visible";
            stat = true;
        }
        if(ni != "play_button"){
            be = e;
            st = ni.substring(6);
        }
        let child = be.firstElementChild;
        vale = String(child.id);
        clearInterval(inta);
        if(vale == "play"){
            ae = document.getElementById("audio_"+st);
            document.getElementById("title_text").innerHTML = document.getElementById("tt_" + st).textContent;
            ae.play();
            input_range.max = Math.floor(ae.duration);
            if(os != "iOS"){
                ae.volume = parseInt(volume) / 100;
            }
            child.src = icon_url[1];
            pb.firstChild.src = icon_url[1];
            child.id = "stop";
            if(play_num != st && play_num != "0"){
                rtt = 0;
                input_range.value = 0;
                document.getElementById("audio_"+play_num).pause();
                document.getElementById("audio_"+play_num).currentTime = 0;
                input_range.value = 0;
                document.getElementById("title_"+play_num).firstChild.id = "play";
                document.getElementById("title_"+play_num).firstChild.src = icon_url[0];
            }
            play_num = st;
            inta = setInterval(change_value, 1000);
        }else{
            child.id = "play";
            child.src = icon_url[0];
            pb.firstChild.src = icon_url[0];
            document.getElementById("audio_"+st).pause();

        }
    }
    function Set_delete(e){
        let st2 = e.id.substring(7);
        document.getElementById("send_title").value = play_list[parseInt(st2) - 1];
    }

    function Music_List(e){
        if(e.textContent == "マイミュージック"){
            for(let i = 1; i <= data_num; i++){
                document.getElementById("card_"+i).style.display = "block";
                let elements = document.getElementsByName("delete_pl");
                for(let element of elements){element.style.display="none";}
            }

            document.getElementById("delete_pl").style.display = "none";
        }
        else if(e.textContent == "不明なジャンル"){
            for(let i = 1; i <= data_num; i++){
                if(play_list[i - 1].length == 1)document.getElementById("card_"+i).style.display = "block";
                else{
                    jatch = false;
                    for(let text of play_list[i - 1].slice(1, -1)){
                        if(typeof(text) != "number")jatch = true;
                    }
                    if(jatch)document.getElementById("card_"+i).style.display = "block";
                    else document.getElementById("card_"+i).style.display = "none";
                }

                let elements = document.getElementsByName("delete_pl");
                for(let element of elements){element.style.display="none";}
            }
        }
    }

    function Open_List(e){
        var target = play_list.filter( item => item.includes( parseInt(e.id) - 1 ) );
        let num = [];
        for(let i = 0; i < target.length; i++){
            num.push(audio_list.indexOf(target[i][0]));
        }
        for(let i = 0; i< audio_list.length; i++){
            let i2 = i + 1;
            if(num.indexOf(i) == -1)document.getElementById("card_"+i2).style.display = "none";
            else {
                document.getElementById("card_"+i2).style.display = "block";
                document.getElementById("dpl_" + i2).style.display = "block";
                document.getElementById("dpl_" + i2).value = i2 + "$$" + e.id;
            }
        }
        document.getElementById("delete_playlist").value = e.id;
        document.getElementById("delete_pl").style.display = "block";
    }

    function Play_Way(){
        if(pw == 1){
            pw = 2;
            pwb.style.opacity = "1";
        }
        else if(pw == 2){
            pw = 3;
            pwb.firstChild.src = icon_url[3];
        }
        else if(pw == 3){
            pw = 1;
            pwb.firstChild.src = icon_url[2];
            pwb.style.opacity = 0.5;
        }
    }

    function Shuffle_Change(e){
        if(shuffle_flag){
            e.style.opacity = 0.5;
            shuffle_flag = false;
        }
        else {
            e.style.opacity = 1;
            shuffle_flag = true;
        }
    }

    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function Append_List(e){
            var csrf_token = getCookie("csrftoken");
            let text = (e.name).split("$$");
            let num = audio_list.indexOf(text[1]);
            play_list[num].push(parseInt(e.id.substring(12)) - 1);
            $.ajax({
                'url': '{% url "app_first:ajax-list" %}',
                'type': 'POST',
                'data': {
                    'name_cout': e.name,
                },
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
                'dataType': 'json',
            });
        }

        function Left_List(e){
            var csrf_token = getCookie("csrftoken");
            let text = e.value.split("$$");
            let sn = parseInt(text[0]) - 1;
            delete play_list[sn][play_list[sn].indexOf(parseInt(text[1]) - 1)];
            document.getElementById(text[1]).click();
            $.ajax({
                'url': '{% url "app_first:ajax-left" %}',
                'type': 'POST',
                'data': {
                    'song_name': e.value,
                },
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
                'dataType': 'json',
            });
        }
    
    </script>

<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/js/drawer.min.js"></script>
</html>
